#!/bin/bash

if  [[ "${proxy_eval}" == "true" ]]; then 
    export no_proxy=mirror.openshift.com;
fi

if [ "${airgapped_enabled}" = "true" ]; then
  ${installer_workspace}oc adm release extract -a ${pull_secret} --command=openshift-install ${airgapped_repository}:${openshift_version}-x86_64
  mv ${path_root}/openshift-install ${installer_workspace}
fi
